footer{
    width: 100vw;
    height: 6rem;
    background-color: var(--magenta);
    align-content: center;
}
footer h1{
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 480px) {
    footer h1{
        font-weight: bold;
    }
    .footer-container{
        padding: 0 1rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    
}

@media screen and (max-width: 768px) {
    
}