#home{
    padding: 6rem 4rem 1.5rem;
    display: grid;
}
.technologies{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.icons{
    height: 3rem;
}
.home-name{
    padding: 2rem 1rem;
    grid-row: 1;
    align-content: center;
}
#profile{
    height: auto;
}

@media screen and (max-width: 480px) {
    #home{
        padding: 7rem 3rem 1rem;
    }
    .section-container{
        grid-column: 1 / span 1;
    }
    .home-name{
        display: grid;
        grid-column: 1;
        grid-row: 1;
        padding: 0;
        align-items: center;
        gap: .5rem;
    }
    .home-name h2{
        font-weight: bold;
        font-size: 1rem;
    }
    .section-profile{
        grid-column: 2 /span 1;
        grid-row: 1;
    }
    .front{
        gap: 1rem;
        grid-column: 1 / span 2;
        grid-row: 2;
        margin-top: 1rem;
    }
    .back{
        grid-column: 1 / span 2;
        grid-row: 3;
        gap: 1rem;
        margin-top: 1rem;
    }
    .icons{
        height: 2.25rem;
    }
    #profile{
        width: 210px;
    }  
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .home-name h2{
        font-weight: bold;
        font-size: 1.25rem;
    }
    .technologies{
        align-items: center;
    }
    .front{
        grid-column: 1 / span 2;
        grid-row: 2;
        margin-top: 1rem;
        gap: 1rem;
    }
    .back{
        grid-column: 1 / span 2;
        grid-row: 3;
        gap: 1rem;
        margin-top: 1rem;
    }
    .icons{
        height: 3rem;
    }
    #profile{
        width: 280px;
    }
}

@media screen and (min-width: 768px) {
    #home-section{
        padding: 1rem 4rem;
    }
    .home.section-profile{
        display: flex;
        position: relative;
    }
    #profile{
        width: 500px;
        
    }
    .home-name{
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    .section-profile{
        grid-column: 2;
        grid-row: 1 / span 4;
    }
    .front{
        grid-column: 1;
        grid-row: 3;
        align-content: center;
        align-items: center;
        display: flex;
        gap: 1rem;
    }
    .back{
        align-content: center;
        grid-column: 1;
        grid-row: 4;
        gap: 1rem;
    }
    .icons{
        height: 3rem;
    }
}