.skills_section{
    gap: 1.25rem;
}
.techs{
    display: grid;
}
#backend{
    margin-top: 2rem;
}
.skill-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill_technology{
    display: flex;
    align-items: center;
}
.skill_name_title{
    margin-left: .75rem;
}
.skill_data{
    margin-top: 1rem;
}
#skill_icon, #skill_arrow{
    font-size: 2rem;
}
#skill_arrow{
    cursor: pointer;
    transition: 0.5s;
}
.skill_title{
    display: flex;
}
.skill_name{
    margin-left: 1rem;
}
.skill_number{
    margin-left: auto;
    margin-right: 0;
}
.skill_bar, .skill_percentage{
    height: 5px;
    border-radius: .25rem;
}
.skill_percentage{
    display: block;
    background-color: var(--magenta);
}
.skill_bar{
    background-color: #af77af;
}
.skill_html{
    width: 90%;
}
.skill_css{
    width: 90%;
}
.skill_js{
    width: 80%;
}
.skill_react{
    width: 80%;
}
.skill_java{
    width: 90%;
}
.skill_spring{
    width: 80%;

}
.skills_open #skill_arrow{
    transform: rotate(-180deg);
}
.skills_open .skill-list{
    height: max-content;
    padding: 0 1.5rem;
}
.skills_close .skill-list{
    height: 0;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .skills_section{
        padding: 0 1rem;
    }
    .skills_open .skill-list{
        padding: 0 2rem;
    }
}

@media screen and (min-width: 768px) {
    
}