/*===== Variables CSS =====*/
:root {
  --font-light: 300;
  --font-normal: 400;
  --font-bold: 500;
  --font-super-bold: 700;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --magenta: #8B008B;
  --gray: #4d4a4d;
}

/*===== Generales =====*/
*{
  color: var(--gray);
  font-family: "Signika", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-normal);
  font-variation-settings:
    "GRAD" 0;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  display: grid;
}

/*===== Main =====*/
main{
  width: 100vw;
  position: relative;
}

.section{
  padding: 6rem 5rem 1rem;
}
.section-title{
  margin-bottom: 2rem;
}
.section-title h2{
  font-weight: var(--font-bold);
  font-size: 2rem;
  color: var(--magenta);
  text-align: center;
  padding-bottom: 1rem;
}
.section-container{
  width: 100%;
  display: grid;
  align-content: center;
  text-align: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@media screen and (max-width: 480px) {
  .section{
    padding: 5rem 3rem 0;
  }
}